* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


header {
    width: 100vw;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
    color: #274C5B;
    font-weight: bold;
    position: relative;
    font-family: sans-serif;
}

header ul {
    display: flex;
    gap: 30px;
    position: absolute;
    left: 400px;
}

header div {
    display: flex;
    align-items: center;
}

.header-left {
    gap: 10px;
    font-size: 25px;

}

.header-input-conatiner {
    width: 230px;
    padding: 3px;
    justify-content: center;
    height: 45px;
    background-color: #FAFAFA;
    border-radius: 30px;
    position: absolute;
    right: 250px;
    gap: 15px;
}

.header-input-conatiner input {
    outline: none;
    border: none;
    background-color: #FAFAFA;

}

header button img {
    width: 20px;
}

.header-input-conatiner button {
    border: none;
    background-color: #7EB693;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-right-div button {
    border: none;
    background-color: #274C5B;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.header-right-div {
    width: 130px;
    height: 45px;
    justify-content: center;
    gap: 5px;
    border-radius: 30px;
    padding: 0px 15px 0px 5px;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.header-left img {
    width: 27px;
    height: 40pX;
}

/* // */
.MevaBanner {
    width: 100vw;
    height: 100vh;
    background-image: url(./BlogSingle/Photo\ \(37\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #274C5B;
    position: relative;
}

.MevaBanner-Container {
    width: 80%;
    height: 45vh;
    padding: 80px 50px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -150px;
    gap: 30px;
    box-shadow: 1px 1px 10px gray;
}

.MevaBanner-Container h1 {
    font-size: 60px;
}

.MevaBanner-Container small {
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 16px;
    width: 70%;
}

/* //////// */
.BlogBanner {
    width: 100vw;
    height: 175vh;
    justify-content: center;
    padding: 150px 0px 0px 350px;
    display: flex;

    flex-direction: column;
    gap: 20px;
    color: #274C5B;
}

.BlogBanner p {
    font-size: 30px;
    font-weight: bold;
}

.BlogBanner small {
    line-height: 25px;
    font-size: 15px;
    width: 70%;
}

.BlogBanner-insidediv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.BlogBanner-div {
    width: 70%;
    height: 250px;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #F1EDEA;
    text-align: center;
}

.BlogBanner-div span {
    font-weight: bold;
    font-size: 16px;
    width: 80%;
    line-height: 28px;
}

/* LAst Banner */

.LAST-Banner {
    width: 100vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lastbanner-two {
    width: 77vw;
    position: absolute;
    bottom: 150px;
    border-radius: 27px;
    height: 270px;
    background-image: url(./img/Image\ \(6\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.lastbanner-two h1 {
    color: white;
    font-size: 40px;
    width: 55%;
}

.lastbanner-two-input-container {
    display: flex;
    gap: 7px;
}

.lastbanner-two-input-container button {
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: #274C5B;
}

.lastbanner-two-input-container input {
    outline: none;
    width: 300px;
    height: 60px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

/* Footer */

footer {
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 50px;
    color: #274C5B;
    justify-content: center;
}

footer small {
    color: gray;
    font-size: 16px;
}

footer p {
    font-weight: bold;
}

.footer-div:nth-child(1) {
    text-align: right;

}

.footer-div:nth-child(2) {
    align-items: center;
    text-align: center;
}

.footer-div:nth-child(2)>small {
    width: 70%;
    line-height: 30px;
}

.dumaloqlar {
    display: flex;
    gap: 10px;
}

.dumaloqlar div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #274C5B;
}

.footer-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}